$off-white: rgb(240,240,240);
$link-colour: rgb(255,20,130);

.loading {
	width:100%;
	min-height:800px;
	padding-top:100px;
	text-align:center;
}

.background {
	width:100%;
	min-height:800px;
	max-width:2000px;
	background-image: url('../images/toronto.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center center; 
	display:none;
}

.main-nav {
	background-color: rgba(150,150,150,0.18);
	font-size:13pt;

	a {
		color:$off-white;
	}

	li :hover {
		background-color:transparent !important;
		color: $link-colour;
	}

	li :active, li :focus {
		background-color:transparent !important;
	} 

	.active {
		background-color: black;
	}

}


.content {
	color:$off-white;
	padding: 50px 10px 50px 10px;
	font-size:13pt;
	display:none;

	a {
		color:$link-colour;
	}

	p {
		padding:20px 0 0 0;
	}
}

.dark-background {
	background-color: rgba(0,0,0,0.8);
	max-width: 600px;
	border:1px solid rgba(255,20,130, 0.6);
	padding:20px;
}

footer {
	position:fixed;
	bottom:0;
	left:0;
	background-color:$off-white;
	border-top:1px solid rgb(22,22,22);
	width:100%;

	a {
		color: black;
		text-decoration: underline;
	}

	li :hover {
		color: $link-colour;
	}
}